# temp files
.DS_Store
.idea
*.swp
npm-debug.log
/.sass-cache
/.tmp
/.irb-history
/screenshot*

# build directories
/platforms
!/platforms/android/build.gradle
!/platforms/android/AndroidManifest.xml
!/platforms/android/src/edu/northwestern/cbits/conemo/MainActivity.java
/www

# development directories
bower_components
/app/bower.json
/node_modules
/plugins/*/*
