# temp files
.DS_Store
.idea
*.swp
npm-debug.log
/.sass-cache
/.tmp
/.irb-history
/screenshot*

# build directories
/platforms
/www

# development directories
bower_components
/app/bower.json
/node_modules
/plugins/*/*
