<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.northwestern.cbits.conemo" version="0.3.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CONEMO</name>
    <description>
       CONEMO App for Cronicas / USP / NIH.
    </description>
    <author email="cbits@northwestern.edu" href="http://cbits.northwestern.edu">
        CBITs
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>
