<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.northwestern.cbits.conemo" version="0.3.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CONEMO</name>
  <description>
    CONEMO App for Cronicas / USP / NIH.
  </description>
  <author email="cbits@northwestern.edu" href="http://cbits.northwestern.edu">
    CBITs
  </author>
  <icon src="icon.png" />
  <content src="index.html" />
  <access origin="https://*.northwestern.edu" />
  <allow-navigation href="http://localhost:12345/*" />
  <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  <hook src="scripts/fetch_content.js" type="before_prepare" />
  <hook src="scripts/prettify_content.sh" type="before_prepare" />
  <hook src="scripts/copy_assets.js" type="before_compile" />
  <preference name="xwalkVersion" value="15+" />
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
  <preference name="xwalkMode" value="embedded" />
  <preference name="xwalkMultipleApk" value="true" />
</widget>
