<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.northwestern.cbits.conemo" version="1.3.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CONEMO</name>
    <description>
    CONEMO App for Cronicas / USP / NIH.
  </description>
    <author email="cbits@northwestern.edu" href="http://cbits.northwestern.edu">
    CBITs
  </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="SERVER_URL_TO_REPLACE" />
    <allow-navigation href="SERVER_URL_TO_REPLACE/*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="Orientation" value="portrait" />
    <hook src="scripts/prepare_web_dir.sh" type="before_prepare" />
    <hook src="scripts/fetch_content.js" type="before_prepare" />
    <hook src="scripts/embed_videos.js" type="before_prepare" />
    <hook src="scripts/prettify_content.sh" type="before_prepare" />
    <hook src="scripts/copy_assets.js" type="before_prepare" />
    <hook src="scripts/localize.js" type="before_prepare" />
    <hook src="scripts/stagerize.js" type="before_prepare" />
    <hook src="scripts/hockey_apperize.js" type="before_prepare" />
    <hook src="scripts/cleanup.js" type="after_compile" />
    <plugin name="cordova-plugin-device" spec="~1.1.0" />
    <plugin name="de.appplant.cordova.plugin.background-mode" spec="~0.6.4" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="~0.8.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.5.0" />
    <preference name="xwalkVersion" value="16+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
