<h2>Como usar o CONEMO app</h2>

<ol class="well">
  <li>Em 3 dias fixos por semana você receberá uma nova sessão.</li>
  <li>Para verificar se uma nova sessão está disponível, você deve ligar o celular todos os dias, ou, pelo menos, a cada dois dias.</li>
  <li>Cada vez que você receber uma nova sessão, você pode clicar na notificação recebida no celular ou abrir diretamente o aplicativo CONEMO e acessar o conteúdo da sessão.</li>
  <li>Para acessar a nova sessão, clique em “Iniciar” na tela inicial do aplicativo.</li>
  <li>Se você não acessou 2 novas sessões seguidas, você será contactado por seu auxiliar de enfermagem, que vai verificar se existe qualquer dificuldade.</li>
</ol>

<h2>Como pedir ajuda</h2>

<ol class="well">
  <li>Se a qualquer momento, precisar de ajuda com o aplicativo, com o smartphone ou tiver dúvidas sobre o conteúdo da sessão, pressione o botão "Pedir ajuda" na tela inicial do aplicativo CONEMO.</li>
  <li>A auxiliar de enfermagem vai entrar em contato com você o mais breve possível.</li>
  <li>A auxiliar de enfermagem não responde questões sobre sua saúde física ou emocional e não pode lhe atender por telefone sobre esses assuntos. Procure conversar diretamente com seu enfermeiro ou médico.</li>
  <li>Em caso de emergência médica, ou se você se sentir muito mal, por favor, procure o pronto socorro mais próximo.</li>
</ol>

<h2>Como acessar sessões anteriores</h2>

<ol class="well">
  <li>Se você quiser reler as sessões anteriores, selecione "Sessões anteriores" na tela inicial do aplicativo.</li>
  <li>Se você tiver perdido uma ou mais sessões e já tiver recebido uma nova sessão, você deve ir para "Sessões anteriores", realizar as sessões que você não executou ainda e depois ir para a nova sessão.</li>
</ol>

<h2>Como rever a sessão de treinamento</h2>

<ol class="well">
  <li>Você pode rever a sessão de treinamento que o auxiliar de enfermagem lhe mostrou no encontro inicial em “Sessões anteriores” (primeira sessão)</li>
</ol>
