<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.northwestern.cbits.conemo"
        versionCode="1" 
        version   = "0.1.6">


    <name>CONEMO</name>
    <icon src="icon.png" />

    <description>
       Clinical usability application designed for University of Sao Paulo.
    </description>

    <author href="http://cbits.northwestern.edu" email="m-begale@northwestern.edu">
		CONEMO
	  </author>

</widget>