Great!

<div class="form-group form-group-lg">
  How much did you like doing the activity?
  <select class="form-control" name="reported-activity-happiness">
    <option>1 - A lot</option>
    <option>2 - A lot</option>
    <option>3 - A lot</option>
    <option>4 - A lot</option>
    <option>5 - A lot</option>
  </select>
</div>

<div class="form-group form-group-lg">
  How satisfied did you feel afterwards?
  <select class="form-control" name="reported-activity-worthwhile">
    <option>1 - Very Satisfied</option>
    <option>2 - Very Satisfied</option>
    <option>3 - Very Satisfied</option>
    <option>4 - Very Satisfied</option>
    <option>5 - Very Satisfied</option>
  </select>
</div>
