<div class="form-group form-group-lg">
  ¿Cuánto te gustó hacer la actividad?
  <br><br>

  Elige la respuesta que mejor describe tu experiencia con la actividad que hiciste.

  <select class="form-control" name="reported-activity-happiness">
    <option selected value=""></option>
    <option>1 = No me gustó para nada</option>
    <option>2 = No me gustó</option>
    <option>3 = Ni me gustó ni me desagradó</option>
    <option>4 = Me gustó</option>
    <option>5 = Me gustó mucho</option>
  </select>
</div>

<div class="form-group form-group-lg">
  ¿Qué tan satisfecho/a te sentiste después de hacer la actividad?

  <select class="form-control" name="reported-activity-worthwhile">
    <option selected value=""></option>
    <option>1 = Muy insatisfecho/a</option>
    <option>2 = Insatisfecho/a</option>
    <option>3 = Ni satisfecho/a ni insatisfecho/a</option>
    <option>4 = Satisfecho/a</option>
    <option>5 = Muy satisfecho/a</option>
  </select>
</div>
