<div class="form-group form-group-lg">
  Você gostou de fazer essa atividade?

  <select class="form-control" name="reported-activity-happiness">
    <option selected value=""></option>
    <option>1 = desgostei muito</option>
    <option>2 = não gostei</option>
    <option>3 = nem gostei e nem desgostei</option>
    <option>4 = gostei</option>
    <option>5 = gostei muito</option>
  </select>
</div>

<div class="form-group form-group-lg">
  Quão satisfeito você se sentiu depois?

  <select class="form-control" name="reported-activity-worthwhile">
    <option selected value=""></option>
    <option>1 = muito insatisfeito</option>
    <option>2 = insatisfeito</option>
    <option>3 = nem satisfeito e nem insatisfeito</option>
    <option>4 = satisfeito</option>
    <option>5 = muito satisfeito</option>
  </select>
</div>
