<div ng-show="currentSlideIndex === 0 && isReady"
     class="slide activity-planning">
  <span ng-if="plannedActivity">
    <input type="hidden" name="reported-activity-uuid" ng-value="plannedActivity.uuid" />
    <input type="hidden" name="reported-activity-name" ng-value="plannedActivity.name" />
    <input type="hidden" name="reported-activity-planned-at" ng-value="plannedActivity.planned_at" />
    <input type="hidden" name="reported-activity-follow-up-at" ng-value="plannedActivity.follow_up_at" />
    <input type="hidden" name="reported-activity-lesson-guid" ng-value="plannedActivity.lesson_guid" />

    {{ 'didYouDoActivity' | translate }} {{ plannedActivity.name }}?

    <div class="form-group form-group-lg">
      <div class="radio">
        <label>
          <input name="reported-activity-is-complete" ng-model="plannedActivity.isComplete" type="radio" value="Yes">
          {{ 'yes' | translate }}
        </label>
      </div>

      <div class="radio">
        <label>
          <input name="reported-activity-is-complete" ng-model="plannedActivity.isComplete" type="radio" value="No">
          {{ 'no' | translate }}
        </label>
      </div>
    </div>
  </span>
</div>

<div ng-show="currentSlideIndex === 1 && isReady"
     class="slide activity-planning">
  <span ng-if="plannedActivity">
    <span ng-if="plannedActivity.isComplete == null"
          ng-bind-html="unsafe(plannedLesson.nonPlanningResponseContent)">
    </span>

    <span ng-if="plannedActivity.isComplete === 'Yes'"
          ng-bind-html="unsafe(plannedLesson.planningResponseYesContent)">
    </span>
    <ng-include ng-if="plannedActivity.isComplete === 'Yes'" src="activityContentPath"></ng-include>

    <span ng-if="plannedActivity.isComplete === 'No'"
          ng-bind-html="unsafe(plannedLesson.planningResponseNoContent)"
          class="smallify">
    </span>
  </span>
</div>

<span ng-if="isReady" ng-repeat="slide in slides">
  <div ng-show="currentSlideIndex - slideIndexOffset === $index"
       class="slide"
       ng-bind-html="unsafe(slide.content)"></div>
</span>

<div ng-show="currentSlideIndex === slideCount - 2 && isReady"
     class="slide activity-planning">
  <span ng-if="selectedLesson.hasActivityPlanning">
    <div ng-bind-html="unsafe(selectedLesson.prePlanningContent)">
    </div>

    <select name="planned-activity-name" ng-model="selectedActivity.value">
      <optgroup>
        <option selected disabled hidden style='display: none' value=''></option>
        <option ng-repeat="activity in selectedLesson.activityChoices.split('\r\n')">{{ activity }}</option>
      </optgroup>
    </select>
  </span>
</div>

<div ng-show="currentSlideIndex === slideCount - 1 && isReady"
     class="slide activity-planning">
  <span ng-if="selectedLesson.hasActivityPlanning">
    <div ng-show="selectedActivity.value != null"
      ng-bind-html="selectedLesson.postPlanningContent"
      class="smallify">
    </div>

    <div ng-show="selectedActivity.value == null"
         ng-bind-html="selectedLesson.nonPlanningContent">
    </div>
  </span>
</div>
