<div ng-if="currentSlideIndex === 0 && isReady && plannedActivity"
     class="slide"
     data-index="0"
     data-position="1">
  <input type="hidden" name="reported-activity-uuid" ng-value="plannedActivity.uuid" />
  <input type="hidden" name="reported-activity-name" ng-value="plannedActivity.name" />
  <input type="hidden" name="reported-activity-planned-at" ng-value="plannedActivity.planned_at" />
  <input type="hidden" name="reported-activity-follow-up-at" ng-value="plannedActivity.follow_up_at" />
  <input type="hidden" name="reported-activity-lesson-guid" ng-value="plannedActivity.lesson_guid" />

  {{ 'didYouDoActivity' | translate }} {{ plannedActivity.name }}?

  <div class="form-group form-group-lg">
    <div class="radio">
      <label>
        <input name="reported-activity-is-complete" ng-model="plannedActivity.isComplete" type="radio" value="Yes">
        {{ 'yes' | translate }}
      </label>
    </div>

    <div class="radio">
      <label>
        <input name="reported-activity-is-complete" ng-model="plannedActivity.isComplete" type="radio" value="No">
        {{ 'no' | translate }}
      </label>
    </div>
  </div>
</div>

<div ng-if="currentSlideIndex === 1 && isReady && plannedActivity"
     class="slide"
     data-index="1"
     data-position="2">
  <span ng-if="plannedActivity.isComplete == null"
        ng-bind-html="unsafe(plannedLesson.nonPlanningResponseContent)">
  </span>

  <span ng-if="plannedActivity.isComplete === 'Yes'"
        ng-bind-html="unsafe(plannedLesson.planningResponseYesContent)">
  </span>
  <ng-include ng-if="plannedActivity.isComplete === 'Yes'" src="activityContentPath"></ng-include>

  <span ng-if="plannedActivity.isComplete === 'No'"
        ng-bind-html="unsafe(plannedLesson.planningResponseNoContent)">
  </span>
</div>

<div ng-if="isReady"
     class="slide"
     data-index="{{ currentSlideIndex + slideIndexOffset }}"
     data-position="{{ currentSlideIndex + 1 + slideIndexOffset }}"
     style="padding-bottom: 44px;"
     ng-bind-html="unsafe(slides[currentSlideIndex - slideIndexOffset - 1].content)">
</div>

<div ng-if="currentSlideIndex === slideCount && isReady && selectedLesson.hasActivityPlanning"
     class="slide"
     data-index="{{ slideCount }}"
     data-position="{{ slideCount + 1 }}">

  <div ng-bind-html="unsafe(selectedLesson.prePlanningContent)">
  </div>

  <select name="planned-activity-name" ng-model="selectedActivity.value">
    <option selected disabled hidden style='display: none' value=''></option>
    <option ng-repeat="activity in selectedLesson.activityChoices.split('\r\n')">{{ activity }}</option>
  </select>
</div>

<div ng-if="currentSlideIndex === slideCount + 1 && isReady && selectedLesson.hasActivityPlanning"
     class="slide"
     data-index="{{ slideCount + 1 }}"
     data-position="{{ slideCount + 2 }}">

  <div ng-if="selectedActivity.value != null"
       ng-bind-html="selectedLesson.postPlanningContent">
  </div>

  <div ng-if="selectedActivity.value == null"
       ng-bind-html="selectedLesson.nonPlanningContent">
  </div>
</div>
