<h2>¡Bienvenido a CONEMO!</h2>

<div class='well'>
  <p>CONEMO es un programa que te permite leer textos, mirar vídeos y responder preguntas, todo con el objetivo de mejorar tu salud física y emocional.</p>

  <p>Esta sesión de entrenamiento contiene explicaciones y demostraciones de cómo usar cada una de las funciones de CONEMO. Te mostraremos cómo 
    <ul>
      <li>Seleccionar “siguiente y atrás”
      </li>
      <li>Ver vídeos
      </li>
      <li>Elegir respuestas
      </li>
      <li>Elegir varias respuestas
      </li>
      <li>Elegir una sola respuesta
      </li>
      <li>Retroceder
      </li>
      <li>Abrir diálogos
      </li>
      <li>Ver las notificaciones de sesiones
      </li>
      <li>Usar el calendario
      </li>
      <li>Programar una hora
      </li>
    </p>
</div>

<h2>Siguiente y atrás</h2>

<div class='well'>
  <p>Cuando abres el aplicativo y la sesión que corresponde de ese día, lee el texto de esa página y luego presiona el botón “siguiente”</p>

  <img src='images/next.png' />

  <p>Si quieres regresar a la página anterior presiona el botón “atrás”.</p>

  <img src='images/back.png' />
</div>

<h2>Retroceder</h2>

<div class="well">
  <p>Siempre puedes apretar el botón “atrás” en tu teléfono si no quieres responder una pregunta en ese momento o si quieres regresar a la sesión. <img src="images/back-phone.png" /> / <img src="images/back-phone-lollipop.png" /></p>

  <p>Para volver a la página inicial de CONEMO, presiona el símbolo de la casita. <img src="images/home.png" /></p>
</div>

<h2>Ver vídeos</h2>

<div class='well'>
  <p>Para ver un vídeo, presiona el botón “agrandar pantalla” <img src='images/fullscreen.png' /> y voltea el teléfono en posición horizontal.</p>

  <p>Luego, presiona el triángulo en el centro <img src='images/play.png' /></p>

  <p>Para pausar el vídeo, presiona el botón “pausa” <img src='images/pause.png' /></p>

  <p>Para regresar al aplicativo cuando termine el vídeo, presiona la pantalla para ver los botones del teléfono y presiona el botón “atrás” <img src='images/back-phone.png' /> / <img src="images/back-phone-lollipop.png" /></p>

  <div conemo-video identifier="video4"></div>
</div>

<h2>Elegir respuestas</h2>

<div class='well'>
  <p>Para responder una pregunta o elegir actividades, simplemente presiona el rectángulo blanco.</p>

  <p>Se abrirá una página con todas las opciones.</p>

  <p>Para elegir una opción presiónala.</p>

  <p>Una vez que hayas hecho tu selección, presiona  “Aceptar”.</p>

  <p><img src='images/multiselect.png' /></p>

</div>

<h2>Elegir varias respuestas</h2>

<div class='well'>
  <p>En algunas preguntas se puede elegir varias opciones. Para elegir cualquiera de esas opciones presiónala.</p>

  <p>Si has elegido una respuesta y te gustaría cambiarla, presiona nuevamente la respuesta seleccionada para “des-marcarlo”. Acá un ejemplo:</p>

  <p>¿Qué tipo de comida te gusta? Elige todas las opciones que corresponden.</p>

  <select multiple='true' name='comida' size='3'>
    <option value='Lomo saltado'>Lomo saltado</option>
    <option value='Arroz con pollo'>Arroz con pollo</option>
    <option value='Ceviche'>Ceviche</option>
    <option value='Papa a la huancaína'>Papa a la huanca&iacute;na</option>
    <option value='Pizzas y pastas'>Pizzas y pastas</option>
    <option value='Carnes'>Carnes</option>
    <option value='Pescados y Mariscos'>Pescados y Mariscos</option>
    <option value='Frutas y verduras'>Frutas y verduras</option>
  </select>
</div>

<h2>Elegir una sola respuesta</h2>

<div class="well">
  <p>En otras preguntas sólo debes elegir una opción de las presentes. Acá un ejemplo:</p>

  <p>¿Cuál es tu color favorito?</p>

  <select>
    <option value="rojo">rojo</option>
    <option value="verde">verde</option>
    <option value="azul">azul</option>
    <option value="amarillo">amarillo</option>
    <option value="otro">otro</option>
  </select>
</div>

<h2>Diálogos</h2>

<div class="well">
  <p>A veces recibirás un mensaje del sistema, un “diálogo”, al cual deberías responder.

  <p>Ese aparecerá en tu pantalla y te indicará qué es lo que deberías hacer.</p>

  <p>Después de que hayas seleccionado una de las opciones, una respuesta aparecerá en tu pantalla.</p>

  <p>Presiona “OK” cuando terminas de leerlo.</p>

  <p>Para ver la notificación del diálogo:</p>

  <button type="button" class="btn btn-info" style="font-size: 1em" ng-click="sampleLesson.demoDialogue()">Presiona acá</button>
</div>

<h2>Notificaciones de sesiones</h2>

<div class="well">
  <p>Además te mandaremos notificaciones para recordarte que hay una nueva sesión disponible en CONEMO que debes realizar.</p>

  <p>Esa notificación aparecerá en forma de un símbolo en la esquina izquierda de tu pantalla.</p>

  <div style="float: left;"><img src="images/purple-robot-taskbar.png" /></div>
  <div style="float: left; margin-left: 10px;">
    <img src="images/purple-robot-dark.png" style="float: left;" />
    <img src="images/purple-robot-light.png" style="float: left; clear: left;" />
  </div>

  <p style="clear: left;">Desliza tu dedo encima de la pantalla desde el borde superior hacia abajo, para ver la notificación.</p>

  <p><img src='images/notification.png' /></p>
  <p><img src='images/notification2.png' /></p>

  <p>Luego presiona el mensaje de notificación para abrir el aplicativo CONEMO.</p>

  <p>Para ver notificaciones:</p>

  <button type="button" class="btn btn-info" style="font-size: 1em" ng-click="sampleLesson.demoNotification()">Presiona acá</button>
</div>

<h2>Calendario</h2>

<div class="well">
  <p>Para seleccionar una fecha en la cual quieres hacer una actividad, presiona el rectángulo blanco correspondiente.</p>

  <p>Se abrirá un calendario en el cual puedes cambiar el día, mes y año. Presiona el “+” para aumentar el número o mes y “-” para disminuirlo. Luego presiona “Establecer”</p>

  <input type="date" />
</div>

<h2>Hora</h2>

<div class="well">
  <p>Para programar una hora en la cual quieres hacer la actividad elegida, presiona el rectángulo blanco y selecciona la hora correspondiente.</p>

  <p>Para modificar la hora, presiona el “+” para cambiar la hora hacia más adelante y “-” para cambiarlo hacia atrás. En algunos celulares hay que seleccionar además “AM” si se refiere a la mañana y “PM” si se refiere a la tarde. En otros celulares aparece el reloj de 24 horas.</p>

  <input type="time" />
</div>

<h2>¿Preguntas?</h2>

<div class="well">
  <p>Si tienes alguna pregunta, por favor, pregunta a tu enfermera o enfermero.</p>
</div>
