<h1>{{'instructionsLabel' | translate}}</h1>

<div id="instructions">

	<div ng-bind-html="'instructionsContent' | translate">
	</div>
	<button type="button" ng-click="downloadVideos()" class="btn btn-info">Download Videos</button>
	<button type="button" ng-click="downloadLessons()" class="btn btn-info">Download Lessons</button>
	<div id="progressContainer" class="well" style="display: none;">
		<div id="download-counter"></div>
	</div>
	<div class="well">Conemo Phone App V{{ appVersion }}</div>


</div>