<form name="form" id="slideShowForm" scroll="updatePageCounter();">
	<div id="slides" conemo-slides slide-content="slideContent">
	</div>

	<nav id="lesson-nav">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4">
			<button class="btn btn-info	btn-wide" ng-show="showBack" id="back" ng-click="slideNavigator('back');"><h2 class="navigation-button"><i class="glyphicon glyphicon-chevron-left"></i> <!--{{backLabel}}--></h2></button>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 navigation-button">
			{{pageCounter}}
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
		  <button class="btn btn-info btn-wide" ng-show="showNext" id="next" ng-click="slideNavigator('next');">
		  	<h2 class="navigation-button"><!--{{nextLabel}}--> <i class="glyphicon glyphicon-chevron-right"></i> </h2>
		  </button>
		  <button id="complete" ng-click="saveForm('#/')" ng-show="showHome" class="btn btn-primary btn-wide" type="submit">
		  	<h2 class="navigation-button"><i class="glyphicon glyphicon-home"></i></h2>
		  </button>
		</div>
	</div>
	</nav>
</form>
