<h1><!--{{appName}}-->
	<img src="images/logo-wide.png" alt="{{ 'appName' | translate }}" style='width:100%;'></h1>

<div id="home-screen">
	<div class="jumbotron">
		<span class="label label-info" ng-hide="checkLessonRead('{{currentLessonGuid}}')">
			{{ 'unreadLabel' | translate }}
		</span>
		<h2 class="main-title">{{currentLessonTitle}}</h2>
		
		<h3 class="main-date" ng-show="l10n=='en'">
			{{ 'months' | translate }} {{currentLessonDay}} 
		</h3>
		<h3 class="main-date" ng-show="l10n=='pt-BR' || l10n=='es-PE'">
			{{currentLessonDay}} de {{ 'months' | translate }}
		</h3>

    <session-access-link guid="currentLessonGuid" />
	</div>

	<a href="#/toolbox" class="btn btn-warning btn-wide"><i class="glyphicon glyphicon-wrench"></i> 
		{{ 'toolBoxLabel' | translate }}
	</a>

	<a href="#/contact" class="btn btn-info btn-wide"><i class="glyphicon glyphicon-phone"></i> 
		{{ 'contactHelpLabel' | translate }}
	</a>

	<a href="#/instructions" class="btn btn-info btn-wide"><i class="glyphicon glyphicon-question-sign"></i> 
		{{ 'instructionsLabel' | translate }}
	</a>
</div>
