<h1><!--{{appName}}-->
	<img src="images/logo-wide.png" alt="{{ 'appName' | translate }}" style='width:100%;'></h1>

<div id="account-setup" ng-show="showAccountSetup" class="well">
	<form name="accountSetup" ng-submit="setUserAccountInfo()">

	<h2>{{ 'configureUserLabel' | translate }}</h2>
	<label for="userId">ID #</label><br/>

		<input type="text" id="userId" name="userId" ng-model="userId" required>
		<br/>
		<label for="l10n">Locale</label><br/>
			<button type="button" 
				name="l10n" 
				class="btn btn-info btn-language"
				ng-model="l10n" 
				ng-click="setLocale()"  
				ng-repeat="locale in availableLocales"  
				value="{{locale}}">
				{{locale}}
			</button>

		<br/>
		<br/>

		<button ng-disabled="accountSetup.userId.$invalid && accountSetup.l10n.$pristine" class="btn btn-primary" type="submit" id="submit">
			{{ 'beginLessonButtonLabel' | translate }}
		</button>
	</form>
</div>


<div id="home-screen" ng-hide="showAccountSetup">
	<div class="jumbotron">
		<span class="label label-info" ng-hide="checkLessonRead('{{currentLessonGuid}}')">
			{{ 'unreadLabel' | translate }}
		</span>
		<h2 class="main-title">{{currentLessonTitle}}</h2>
		
		<h3 ng-show="l10n=='en'">
			{{ 'months' | translate }} {{currentLessonDay}} 
		</h3>
		<h3 ng-show="l10n=='pt-BR' || l10n=='es-PE'">
			{{currentLessonDay}} de {{ 'months' | translate }}
		</h3>

		<a ng-href="#/lesson/{{currentLessonGuid}}" class="btn btn-primary" id="begin-assignment">
			{{ 'beginLessonButtonLabel' | translate }}
		</a>
	</div>

	<a ng-href="#/toolbox" class="btn btn-warning btn-wide"><i class="glyphicon glyphicon-wrench"></i> 
		{{ 'toolBoxLabel' | translate }}
	</a>

	<a ng-href="#/contact" class="btn btn-info btn-wide"><i class="glyphicon glyphicon-phone"></i> 
		{{ 'contactHelpLabel' | translate }}
	</a>

	<a ng-href="#/instructions" class="btn btn-info btn-wide"><i class="glyphicon glyphicon-question-sign"></i> 
		{{ 'instructionsLabel' | translate }}
	</a>
</div>

