<h2>Benvindo ao CONEMO!</h2>

<div class='well'>
  <p>CONEMO é um programa que permite que você leia, assista vídeos e responda questões sobre como você está se sentido, usando seu telefone.</p>

  <p>Para assistir um vídeo, pressione a seta no vídeo abaixo.</p>

  <div conemo-video identifier="video4"></div>

  <p>Para responder uma pergunta, simplesmente pressione a questão e você poderá selecionar uma opção.</p>

  <p>Lembre-se que você pode pressionar no telefone o botão para voltar se você não quiser responder ou se tiver esquecido a pergunta.</p>

  <p>[Pergunta] Qual é sua cor favorita?</p>

  <select name='color'>
    <option value='vermelha'>Vermelha</option>
    <option value='verde'>Verde</option>
    <option value='azul'>Azul</option>
  </select>

  <p>De vez em quando você também receberá algumas mensagens pelo sistema. Essas mensagens irão se abrir na tela e lhe indicar se há alguma coisa que você deve fazer.</p>

  <p>Para mudar de página, pressione a seta à direita na parte inferior da tela.</p>

  <p>Para voltar à página anterior, pressione a seta à esquerda na parte inferior da tela.</p>

  <p>Se você tiver alguma pergunta, por favor, pergunte à sua enfermeira!</p>
</div>
